@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600;700;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  color: #202020;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 1;
}


.logo {
  width: 175px;
  height: auto;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.nav-itens {
  list-style: none;
  display: flex;
}

.nav-itens>li>a {
  padding-left: 20px;
  color: #202020;
  text-decoration: none;
}


.login-image {
  width: 35px;
  height: 35px;
  margin-top: 5px;

}

.login-wrapper {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  top: 12px;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 50px auto;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  font-family: 'Inter';

}


.form-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7ad7ff;
}

.form-imagee {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
}

.form-image img {
  max-width: 100%;
  height: auto;
}

.form-imagee img {
  max-width: 100%;
  height: auto;
}

.form {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.form-content {
  max-width: 400px;
}

.form h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;
}

.form-header h1::after {
  content: '';
  display: block;
  width: 50px;
  height: 3px;
  background-color: #2aade5;
  border-radius: 10px;
  margin-top: 5px;
}

.input-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  margin-bottom: 30px;
}

.input-box {
  display: flex;
  flex-direction: column;
}

.input-box label {
  font-size: 14px;
  font-weight: 500;
  color: #555;
  margin-bottom: 5px;
}

.input-box input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.submit-btn,
.cancel-btn {
  padding: 10px 30px;
  font-size: 14px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-btn {
  color: #fff;
  background-color: #2aade5;
}

.submit-btn:hover {
  background-color: #1e8ac9;
}

.cancel-btn {
  color: #2aade5;
  background-color: transparent;
  border: 1px solid #2aade5;
}

.cancel-btn:hover {
  background-color: #f2f2f2;
}

.nav-itens>li>a:hover {
  font-weight: bold;
}

.fade-in {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
}

.dark-mode {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode nav {
  background-color: #333333;
}

.dark-mode .nav-itens li a {
  color: #ffffff;
}

.dark-mode .btn button {
  background-color: #333333;
  color: #ffffff;
}

.dark-mode .container {
  background-color: #333333;
}

.dark-mode .form-content {
  color: #ffffff;
}

.dark-mode .form-imagee {
  background-color: #333333;
}

#dark-mode-toggle {
  padding: 10px 40px;
  font-size: 15px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: #202020;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  transition: 1s background;
}

#dark-mode-toggle:hover {
  background-color: #3d3d3d;
  transition: 1s background;
}